<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         backupGlobals="true"
         colors="true"
         failOnRisky="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         bootstrap="test/bootstrap.php">
    <php>
        <ini name="display_errors" value="Off"/>
        <ini name="display_startup_errors" value="Off"/>
        <ini name="memory_limit" value="-1"/>
    </php>
</phpunit>

